.credits-wrapper {
    position: fixed;
    z-index: 1;
    background-color: var(--black-25);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits-container {
    width: 50%;
    height: 50%;
    background-color: var(--background);
    opacity: 0.95;
}

.credits-container .credits-header {
    flex: 1;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
}

.credits-title span {
    font-size: 20px;
    font-weight: 700;
}

.btn-modal-close {
    width: 40px;
    height: 30px;
    border: 1px solid transparent;
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
}

.btn-modal-close:hover {
    background: var(--secondary-color);
}

.credits-contents {
    overflow: scroll;
}

.row {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
}

.col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
}

.col-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    padding: 10px;
}

.credits-contents .field {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 18px;
    text-decoration: underline;
}

.credits-contents a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 18px;
}


.credits-contents a:hover {
    color: var(--secondary-color);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .credits-container {
        width: 75%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    .credits-container {
        width: 100%;
        height: 80%;
    }
}