.home-wrapper {
    display: flex;
    width: 100%;
    height: 80vh;
}

.bio-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    align-items: flex-start;
}

.bio-image {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 22px;
    font-weight: 500px;
    margin-bottom: 5px;
}

.designation {
    font-size: 36px;
    font-weight: bold;
    margin-top: 15px;
}

.organization a {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 600;
}

.socials {
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    text-align: center;
}

.socials .social-link {
    padding-right: 30px;
}

.socials .social-link a {
    font-size: 16px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;

}

.socials .social-link a i {
    font-size: 28px;
}

.socials .social-link a i:hover,
.socials .social-link a:hover {
    color: var(--secondary-color);
}

.bio-image img {
    height: auto;
    width: 100%;
}



@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .home-wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 80vh;
        align-items: center;
        overflow: hidden;
        margin: 0
    }

    .bio-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
        margin-bottom: 20px;
        margin-top: -50px;
    }

    .bio-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {

    .home-wrapper {
        overflow: visible;
        width: 100%;
        /* margin-top: -85px; */
        height: 85vh;
        margin-bottom: 100px;
    }

    .bio-image {
        /* margin-top: -50px; */
        height: auto;
        width: 100%;
        margin-bottom: 0;
        justify-content: center;
    }

    .bio-image svg {
        width: 100%;
        height: auto;
    }

    /* .bio-info {
        margin-top: -50px;
    } */

    .name {
        margin-bottom: 30px;
    }

    .designation {
        margin-top: 0;
    }
}