ul {
    list-style-type: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 95%;
    padding-left: 10%;
    margin-bottom: 21px;
    z-index: 1;
}

.nav .logo {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

.nav .logo img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.nav .navlinks {
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav .navlinks ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav .navlinks ul li {
    padding: 0 16px;
}

.nav .navlinks ul li a {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.nav .navlinks ul li a:hover {
    color: var(--secondary-color);
}

.nav__sticky {
    position: fixed;
    top: 0;
    background-color: var(--background);
    z-index: 100;
    transition: 0.5s;
    box-shadow: 0px 1px 4px var(--black-50);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.toggle-switch-container {
    display: flex;
    margin-right: 20px;
}

.nav-menu {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    .nav {
        width: 100%;
        padding-top: 5px;
        padding-left: 0;
    }

    .nav ul {
        padding-inline-start: 0;
    }
}