ul {
    list-style-type: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding-left: 10%;
}

.nav .logo {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .logo img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.nav .navlinks {
    padding-right: 20%;
}

.nav .navlinks ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav .navlinks ul li {
    padding: 0 16px;
}

.nav .navlinks ul li a {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
}

.nav .navlinks ul li a:hover {
    color: var(--secondary-color);
}

.nav__sticky {
    position: fixed;
    top: 0;
    background-color: var(--background);
    z-index: 100;
    transition: 0.5s;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-menu {
    display: none;
}
