.toggle-switch {
    position: relative;
    width: 50px;
    max-width: 50px;
    height: 28px;
    border-radius: 18px;
    border: 1px solid var(--secondary-color);
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 1px;
    left: 2px;
    height: 24px;
    width: 26px;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

.toggle-switch.off {
    background-color: var(--theme-dark-bg);
}

.toggle-switch.on {
    background-color: var(--theme-default-white);
}

.toggle-switch.off .slider {
    background: var(--theme-default-white);
}

.toggle-switch.on .slider {
    background-color: var(--theme-dark-bg);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}