:root {
  --primary-color: #30475e;
  --text-color: #222831;
  --background: #ffffff;
  --secondary-color: #f05454;
  --black-25: rgba(0, 0, 0, 0.25);
  --black-36: rgba(0, 0, 0, 0.36);
  --black-50: rgba(0, 0, 0, 0.5);

  /* Theme colors */
  /* default */
  --theme-default-white: #fff;
  --theme-default-primary: #30475e;
  --theme-default-secondary: #f05454;

  /* dark */
  --theme-dark-bg: #151E29;
  --theme-dark-primary: #1da1f2;
  --theme-dark-secondary: #f47458;

  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  scroll-behavior: smooth;
  color: var(--text-color)
}

body.dark {
  --background: #151E29;
  --text-color: #F5F8FA;
  --primary-color: #1DA1F2;
  --secondary-color: #f47458;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.btn {
  box-sizing: border-box;
  display: flex;
  border-radius: 5px;
  height: 49px;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--background);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--background);
}

.separator-container {
  display: flex;
  justify-content: center;
  margin: -10px 0 20px 0;
  opacity: 0.2;
  align-self: center;
}

.separator {
  width: 30%;
  height: 2px;
  background-color: var(--secondary-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color)
}

/* <a href='https://www.freepik.com/vectors/people'>People vector created by pikisuperstar - www.freepik.com</a> */